.task-list-container {
    max-width: 600px;
    margin: auto;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-button {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
  .user-task{
    background-color: #4c9eaf;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
  .task-details {
    margin-top: 10px;
    text-align: center;
    
}
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  